{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}

<!-- Determine title -->
{% set title = config.site_name %}
{% if page and page.title and not page.is_homepage %}
{% set title = config.site_name ~ " - " ~ page.title | striptags %}
{% endif %}

<!-- The image needs to have an absolute URL -->
{% set image = 'https://github.com/srl-labs/containerlab/blob/master/docs/images/containerlab-og.png?raw=true' %}

<!-- Open graph meta tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ config.site_description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1092" />
<meta property="og:image:height" content="954" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ntdvps" />
<meta name="twitter:creator" content="@ntdvps" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ config.site_description }}" />
<meta name="twitter:image" content="{{ image }}" />

{% endblock %}

<!-- Content -->
{% block content %}
{{ super() }}

<!-- Content footer -->
<footer class="mdx-content__footer md-typeset">

    <hr />
    <span class="twemoji">
        {% include ".icons/fontawesome/solid/flask.svg" %}
    </span>
    <hr />

</footer>
{% endblock %}