# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
bin/*
rpm
rpm/*
dist
private
clab-*

tmp/
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# clab directories
lab-examples/**/clab-*

# ignore the following files/directories
graph/*

license.key
container-lab
containerlab
site/
.vscode/
.idea/
.DS_Store
__rd*
tests/out
**/.*clab.y?ml
clab/test_data/*.bak
