{{ expect .port "^\\d+/\\d/" }}
{{ expect .name "string" }}
{{ expect .ip "ip" }}
{{ optional .vlan "0-4096" }}
{{ optional .isis_iid "0-32" }}
{{ optional .sid_idx "0-999" }}
{{ optional .metric "1-10000" }}

{{- if contains  "/c" .port }}
/configure port {{ slice 0 -2 .port }} admin-state enable
/configure port {{ .port | slice 0 -2 }} connector breakout c1-10g
{{- end }}

/configure port {{ .port }} admin-state enable

/configure router interface {{ .name }}
    ipv4 primary address {{ ip .ip }}
    ipv4 primary prefix-length {{ ipmask .ip }}
    port {{ .port }}:{{ default 10 .vlan }}


/configure router isis {{ default 0 .isis_iid }}
    area-address 49.0000.0000.0000.0{{ default 0 .isis_iid }}
    level-capability 2
    level 2 wide-metrics-only
    traffic-engineering
    advertise-router-capability area
    admin-state enable
    interface "system" admin-state enable
    {{- if .sid_idx }}
    interface "system" ipv4-node-sid index {{ default 0 .isis_iid }}0{{ .sid_idx }}
    segment-routing prefix-sid-range global
    segment-routing admin-state enable
    {{- end }}

    interface {{ .name }} admin-state enable
    interface {{ .name }} interface-type point-to-point
    interface {{ .name }} level 2 metric {{ default 10 .metric }}


/configure router isis {{ default 0 .isis_iid }}

/configure router rsvp
    interface {{ .name }} admin-state enable

/configure router mpls
    interface {{ .name }} admin-state enable
