set / interface ethernet-1/1
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 1
set / interface ethernet-1/1 subinterface 1 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4
set / interface ethernet-1/1 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 address 192.168.0.0/31
set / interface lo0
set / interface lo0 admin-state enable
set / interface lo0 subinterface 0
set / interface lo0 subinterface 0 ipv4
set / interface lo0 subinterface 0 ipv4 admin-state enable
set / interface lo0 subinterface 0 ipv4 address 192.168.255.0/32
set / network-instance default
set / network-instance default type default
set / network-instance default admin-state enable
set / network-instance default router-id 192.168.255.0
set / network-instance default interface ethernet-1/1.1
set / network-instance default interface lo0.0
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 64512
set / network-instance default protocols bgp export-policy [ export-loopback ]
set / network-instance default protocols bgp import-policy [ import-all ]
set / network-instance default protocols bgp router-id 192.168.255.0
set / network-instance default protocols bgp authentication
set / network-instance default protocols bgp authentication password $aes$4pSmP2R6qupw=$ZwhRD8SIMp+sVTWSqmMZpQ==
set / network-instance default protocols bgp afi-safi ipv4-unicast
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group mybgppeers
set / network-instance default protocols bgp neighbor 192.168.0.1
set / network-instance default protocols bgp neighbor 192.168.0.1 peer-as 64512
set / network-instance default protocols bgp neighbor 192.168.0.1 peer-group mybgppeers
set / network-instance default protocols bgp neighbor 192.168.0.1 afi-safi ipv4-unicast
set / network-instance default protocols bgp neighbor 192.168.0.1 afi-safi ipv4-unicast admin-state enable
set / routing-policy
set / routing-policy policy export-loopback
set / routing-policy policy export-loopback default-action
set / routing-policy policy export-loopback default-action policy-result reject
set / routing-policy policy export-loopback statement "allow lo0"
set / routing-policy policy export-loopback statement "allow lo0" match
set / routing-policy policy export-loopback statement "allow lo0" match protocol local
set / routing-policy policy export-loopback statement "allow lo0" match family [ ipv4-unicast ]
set / routing-policy policy export-loopback statement "allow lo0" action
set / routing-policy policy export-loopback statement "allow lo0" action policy-result accept
set / routing-policy policy import-all
set / routing-policy policy import-all default-action
set / routing-policy policy import-all default-action policy-result accept