{
  "name": "{{ .Config.Name }}",
  "type": "clab",
  "clabconfig": {
    "prefix": "{{ .Config.Prefix }}",
    "mgmt": {{ marshal .Config.Mgmt }},
    "config-path": "{{ .Config.ConfigPath }}"
  },
  "nodes": {{ marshal .Nodes }},
  "links": [{{range $i, $l := .Links}}{{if $i}},{{end}}
    {
      "a": {
        "node": "{{ $l.A.Node.ShortName }}",
        "interface": "{{ $l.A.EndpointName }}",
        "mac": "{{ $l.A.MAC }}",
        "peer": "z"
      },
      "z": {
        "node": "{{ $l.B.Node.ShortName }}",
        "interface": "{{ $l.B.EndpointName }}",
        "mac": "{{ $l.B.MAC }}",
        "peer": "a"
      }
    }{{end}}
  ],
  "clab": {{ marshal . }}
}
