{
  "name": "{{ .Name }}",
  "type": "{{ .Type }}",
  "clabconfig": {
    "prefix": "{{ .Clab.Config.Prefix }}",
    {{ $input := .Clab.Config.Mgmt }}
    "mgmt": {{ data.ToJSONPretty " " $input }},
    "config-path": "{{ .Clab.Config.ConfigPath }}"
  },
  {{ $input := .NodeConfigs }}
  "nodes": {{ data.ToJSONPretty " " $input }},
  "links": [{{range $i, $l := .Clab.Links}}{{if $i}},{{end}}
    {
      "a": {
        "node": "{{ $l.A.Node.ShortName }}",
        "interface": "{{ $l.A.EndpointName }}",
        "mac": "{{ $l.A.MAC }}",
        "peer": "z"
      },
      "z": {
        "node": "{{ $l.B.Node.ShortName }}",
        "interface": "{{ $l.B.EndpointName }}",
        "mac": "{{ $l.B.MAC }}",
        "peer": "a"
      }
    }{{end}}
  ]
}
