set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 1 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4
set / interface ethernet-1/1 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 address 192.168.67.1/30
set / network-instance default interface ethernet-1/1.1