{{/* Configure P-to-P interfaces */}}

{{ range $name, $link := .clab_links }}
{{- if $link.port }}
/ configure port {{ $link.port}} connector breakout c1-100g
/ configure port {{ $link.port}} admin-state enable
/ configure port {{ $link.port}}/1 admin-state enable
/ configure router interface {{ $link.clab_link_name }} port {{ $link.port}}/1
{{- if $link.clab_link_ip }}
/ configure router interface {{ $link.clab_link_name }} ipv4 primary address {{ ip $link.clab_link_ip }} prefix-length {{ ipmask $link.clab_link_ip }}
{{- end }}
{{- end }}
{{- end -}}

{{/* Configure system interface */}}
{{- if .system_ip }}
/ configure router interface system ipv4 primary address {{ .system_ip }}
/ configure router interface system ipv4 primary prefix-length 32

{{/* policy to allow system ip */}}
/ configure policy-options prefix-list system_ip prefix {{ .system_ip }}/32 type exact
/ configure policy-options policy-statement system_ip entry 10 from prefix-list system_ip
/ configure policy-options policy-statement system_ip entry 10 action action-type accept
{{- end }}

{{- if .as }}
{{/* Underlay Config */}}
/ configure router autonomous-system {{ .as }}
/ configure router bgp ebgp-default-reject-policy import false
/ configure router bgp ebgp-default-reject-policy export false
/ configure router bgp min-route-advertisement 1
/ configure router bgp rapid-update evpn true
/ configure router bgp group underlay family ipv4 true
/ configure router bgp group underlay export policy system_ip
{{- end }}

{{/* If the bgp_underlay flag specified under the link then configure underlay ebgp on links */}}
{{- range $name, $link := .clab_links }}
  {{- if .bgp_underlay }}
/ configure router bgp neighbor {{ ip $link.clab_far.clab_link_ip }} group underlay
/ configure router bgp neighbor {{ ip $link.clab_far.clab_link_ip }} peer-as {{(index $.clab_nodes $link.clab_far.clab_node).as}}
  {{- end -}} 
{{- end -}}

{{/* Overlay Config */}}
/ configure router bgp group overlay family evpn true
/ configure router bgp group overlay peer-as {{ $.overlay_as }}
/ configure router bgp group overlay local-as as-number {{ $.overlay_as }} 
{{- range $name, $node := $.clab_nodes }}
{{- if .cluster_id }}
/ configure router bgp neighbor {{ $node.system_ip }} group overlay
{{- end -}}
{{- end -}}
