hostname {{ .Hostname }}
!
no aaa new-model
!
ip domain name lab
!
ip cef
!
ipv6 unicast-routing
!
no ip domain lookup
!
username admin privilege 15 secret admin
!
vrf definition clab-mgmt
 description clab-mgmt
 address-family ipv4
 !
 address-family ipv6
 !
!
{{- if .IsL2Node }}
vlan 999
 name clab-mgmt
!
interface Ethernet0/0
 description clab-mgmt
 switchport mode access
 switchport access vlan 999
 no shutdown
!
interface Vlan999
 vrf forwarding clab-mgmt
 description clab-mgmt
 ip address {{ .MgmtIPv4Addr }} {{ .MgmtIPv4SubnetMask }}
 ipv6 address {{ .MgmtIPv6Addr }}/{{ .MgmtIPv6PrefixLen }}
 no shutdown
!
{{- else }}
interface Ethernet0/0
 no switchport
 vrf forwarding clab-mgmt
 description clab-mgmt
 ip address {{ .MgmtIPv4Addr }} {{ .MgmtIPv4SubnetMask }}
 ipv6 address {{ .MgmtIPv6Addr }}/{{ .MgmtIPv6PrefixLen }}
 no shutdown
!
{{- end }}
{{- range $index, $item := .DataIFaces }}
interface Ethernet{{ .Slot }}/{{ .Port }}
{{- if .IPv4Addr }}
 ip address {{ .IPv4Addr }} {{ .IPv4Mask }}
{{- end }}
{{- if .IPv6Addr }}
 ipv6 address {{ .IPv6Addr }}
{{- end }}
 no shutdown
!
{{- end }}
ip forward-protocol nd
!
{{- if .IsL2Node }}
ip route vrf clab-mgmt 0.0.0.0 0.0.0.0 {{ .MgmtIPv4GW }}
ipv6 route vrf clab-mgmt ::/0 {{ .MgmtIPv6GW }}
{{- else }}
ip route vrf clab-mgmt 0.0.0.0 0.0.0.0 Ethernet0/0 {{ .MgmtIPv4GW }}
ipv6 route vrf clab-mgmt ::/0 Ethernet0/0 {{ .MgmtIPv6GW }}
{{- end }}
!
ip ssh version 2
crypto key generate rsa modulus 2048
!
line vty 0 4
 login local
 transport input ssh
!
{{ .PartialCfg }}
end
