{
  "name": "{{ .Name }}",
  "type": "{{ .Type }}",
  "clab": {
    "config": {
      "prefix": "{{ .Clab.Config.Prefix }}",
      "mgmt": {{ ToJSONPretty .Clab.Config.Mgmt "      " "  "}}
    }
  },
  "ssh-pub-keys": {{ ToJSON .SSHPubKeys }},
  "nodes": { {{- $i:=0 }}{{range $n, $c := .NodeConfigs}}{{if $i}},{{end}}
    "{{$n}}": {
      "index": "{{$c.Index}}",
      "shortname": "{{$c.ShortName}}",
      "longname": "{{$c.LongName}}",
      "fqdn": "{{$c.Fqdn}}",
      "group": "{{$c.Group}}",
      "labdir": "{{$c.LabDir}}",
      "kind": "{{$c.Kind}}",
      "image": "{{$c.Image}}",
      "mgmt-net": "{{$c.MgmtNet}}",
      "mgmt-intf": "{{$c.MgmtIntf}}",
      "mgmt-ipv4-address": "{{$c.MgmtIPv4Address}}",
      "mgmt-ipv4-prefix-length": {{$c.MgmtIPv4PrefixLength}},
      "mgmt-ipv6-address": "{{$c.MgmtIPv6Address}}",
      "mgmt-ipv6-prefix-length": {{$c.MgmtIPv6PrefixLength}},
      "mac-address": "{{$c.MacAddress}}",
      "labels": {{ToJSONPretty $c.Labels "      " "  "}},
      "port-bindings": [ 
        {{- range $pidx, $p := $c.ResultingPortBindings}}{{- if gt $pidx 0}},{{end}}
        {
          "host-ip": "{{$p.HostIP}}",
          "host-port": {{$p.HostPort}},
          "port": {{$p.ContainerPort}},
          "protocol": "{{$p.Protocol}}"
        }{{- end }}
      ]
    }{{$i = add $i 1}}{{end}}
  },
  "links": [{{range $i, $l := .Clab.Links}}{{if $i}},{{end}}
    {{- $eps :=  $l.GetEndpoints }}
    {{- $ep :=  index $eps 0 }}
    {
      "a": {
        "node": "{{ $ep.GetNode.GetShortName }}",
        "interface": "{{ $ep.GetIfaceName }}",
        "mac": "{{ $ep.GetMac }}",
        "peer": "{{if eq (len $eps) 2}}z{{else}}dummy{{end}}"
      }
      {{- if eq (len $eps) 2 }}
      {{- $ep :=  index $eps 1 }},
      "z": {
        "node": "{{  $ep.GetNode.GetShortName }}",
        "interface": "{{ $ep.GetIfaceName }}",
        "mac": "{{ $ep.GetMac }}",
        "peer": "a"
      }
      {{- end }}
    }{{end}}
  ]
}
