.mdx-content__footer {
  margin-top: 20px;
  text-align: center;
}

.mdx-content__footer a {
  display: inline-block;
  transition: transform 250ms cubic-bezier(0.1, 0.7, 0.1, 1), color 125ms;
}

.mdx-content__footer a:focus,
.mdx-content__footer a:hover {
  transform: scale(1.2);
}

.mdx-content__footer hr {
  display: inline-block;
  width: 40px;
  margin: 16px;
  vertical-align: middle;
  background-color: currentColor;
  border: none;
}

@-webkit-keyframes heart {

  0%,
  40%,
  80%,
  to {
    transform: scale(1)
  }

  20%,
  60% {
    transform: scale(1.15)
  }
}

@keyframes heart {

  0%,
  40%,
  80%,
  to {
    transform: scale(1)
  }

  20%,
  60% {
    transform: scale(1.15)
  }
}

.heart {
  animation: heart 1s infinite;
  color: #e91e63
}

/* classes to make iframe elements responsive */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* this is for anchor.fm iframes */
.iframe-audio-container {
  position: relative;
  width: 100%;
  padding-bottom: 7rem;
  height: 0;
}

.iframe-audio-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* this is for low-height iframe audio containers */
.iframe-audio2-container {
  position: relative;
  width: 100%;
  padding-bottom: 2rem;
  height: 0;
}

.iframe-audio2-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* shadow effect for images and divs for video */
.img-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* embedded output for code blocks
  use as
  ```
  echo test
  ```
  <div class="embed-result">
  ```
  test
  ```
  </div>
 */
.md-typeset .embed-result {
  margin-top: -1.125em;
}

/* START border for content tabs 
https://github.com/squidfunk/mkdocs-material/discussions/4157#discussioncomment-8270993
*/
.md-typeset .tabbed-set {
  border: 0.5px solid var(--md-typeset-table-color);
}

.md-typeset .tabbed-content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

/* END border for content tabs */

/* scrollable code blocks used in code snippets */
div.highlight.code-scroll-lg pre>code {
  max-height: 80vh;
}

div.highlight.code-scroll-sm pre>code {
  max-height: 50vh;
}