.mdx-content__footer {
    margin-top: 20px;
    text-align: center;
}
.mdx-content__footer a {
    display: inline-block;
    transition: transform 250ms cubic-bezier(0.1, 0.7, 0.1, 1), color 125ms;
}
.mdx-content__footer a:focus, .mdx-content__footer a:hover {
    transform: scale(1.2);
}
.mdx-content__footer hr {
    display: inline-block;
    width: 40px;
    margin: 16px;
    vertical-align: middle;
    background-color: currentColor;
    border: none;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }