{{ expect .clab_system_ip "ip" }}
{{ optional .isis_iid "0-31" }}
{{ optional .sid_idx "0-999" }}
{{ optional .sid_start "19000-30000" }}
{{ optional .sid_end "19000-30000" }}
{{ range .clab_links }}
    {{ expect .port "^\\d+/\\d/" }}
    {{ expect .clab_link_name "string" }}
    {{ expect .clab_link_ip "ip" }}
    {{ optional .vlan "0-4096" }}
    {{ optional .isis_iid "0-31" }}
    {{ optional .sid_idx "0-999" }}
    {{ optional .metric "1-10000" }}
{{ end }}

/configure system login-control idle-timeout 1440

/configure router interface "system"
    ipv4 primary address {{ ip .clab_system_ip }}
    ipv4 primary prefix-length {{ ipmask .clab_system_ip }}
    admin-state enable

/configure router
    autonomous-system {{ default 64500 .as_number }}
    mpls-labels sr-labels start {{ default 19000 .sid_start }} end {{ default 30000 .sid_end }}

{{ if .isis_iid }}
/configure router isis {{ .isis_iid }}
    area-address 49.0000.0000.0000.{{ .isis_iid | printf "%02v" }}
    level-capability 2
    level 2 wide-metrics-only
    #database-export igp-identifier {{ .isis_iid }} bgp-ls-identifier value {{ default 0 .isis_iid }}
    traffic-engineering
    advertise-router-capability area
    admin-state enable
    interface "system" admin-state enable
    {{- if .sid_idx }}
    interface "system" ipv4-node-sid index {{ .isis_iid | printf "%02v"  }}
    segment-routing prefix-sid-range global
    segment-routing admin-state enable
    {{- end }}
{{ end }}

/configure router rsvp
    admin-state enable
    interface system admin-state enable

/configure router mpls
    cspf-on-loose-hop
    interface system admin-state enable
    admin-state enable
    pce-report rsvp-te true
    pce-report sr-te true

{{ range .clab_links }}

{{- if contains  "/c" .port }}
/configure port {{ slice 0 -2 .port }} admin-state enable
/configure port {{ .port | slice 0 -2 }} connector breakout c1-10g
{{- end }}

/configure port {{ .port }} admin-state enable

/configure router interface {{ .clab_link_name }}
    ipv4 primary address {{ ip .clab_link_ip }}
    ipv4 primary prefix-length {{ ipmask .clab_link_ip }}
    port {{ .port }}:{{ default 10 .vlan }}

{{- if .isis_iid }}
/configure router isis {{ default 0 .isis_iid }}
    area-address 49.0000.0000.0000.{{ .isis_iid | printf "%02v" }}
    level-capability 2
    level 2 wide-metrics-only
    traffic-engineering
    advertise-router-capability area
    admin-state enable
    interface "system" admin-state enable
    {{- if .sid_idx }}
    interface "system" ipv4-node-sid index {{ .sid_idx }}{{ default 0 .isis_iid | printf "%02v"  }}
    segment-routing prefix-sid-range global
    segment-routing admin-state enable
    {{- end }}
    interface {{ .clab_link_name }} admin-state enable
    interface {{ .clab_link_name }} interface-type point-to-point
    interface {{ .clab_link_name }} level 2 metric {{ default 10 .metric }}
{{- end }}

/configure router rsvp
    interface {{ .clab_link_name }} admin-state enable

/configure router mpls
    interface {{ .clab_link_name }} admin-state enable

{{ end }}

/configure apply-groups ["baseport"]
/configure router bgp apply-groups ["basebgp"]

/configure groups {
    group "baseport" {
            port "<.*\/[0-9]+>" {
            # wanted to add this, but you really need the /1 context to exist
            # admin-state enable
            ethernet {
                mode hybrid
                encap-type dot1q
                lldp {
                    dest-mac nearest-bridge {
                        notification true
                        receive true
                        transmit true
                        tx-tlvs {
                            #port-desc true
                            sys-name true
                            #sys-desc true
                            sys-cap true
                        }
                        tx-mgmt-address system {
                            admin-state enable
                        }
                    }
                }
            }
        }
    }
}
/configure groups {
    group "basebgp" {
        router "Base" {
            bgp {
                group "<.*>" {
                    admin-state enable
                    min-route-advertisement 5
                    type internal
                }
                neighbor "<.*>" {
                    admin-state enable
                }
            }
        }
    }
}
