{{ expect .clab_system_ip "ip" }}
{{ optional .isis_iid "0-31" }}
{{ range .clab_links }}
    {{ expect .port "^(ethernet-\\d+/|e\\d+-)\\d+$" }}
    {{ expect .clab_link_ip "ip" }}
    {{ optional .vlan "0-4095" }}
    {{ optional .metric "1-10000" }}
{{ end }}

/interface lo0 {
    admin-state enable
    subinterface 0 {
        ipv4 {
            address {{ .clab_system_ip }} {
            }
        }
        ipv6 {
            address ::ffff:{{ ip .clab_system_ip }}/128 {
            }
        }
    }
}

/network-instance default {
    router-id {{ ip .clab_system_ip }}
    interface lo0.0 {
    }
    protocols {
        isis {
            instance default {
                admin-state enable
                level-capability L2
                set level 2 metric-style wide
                # net should not be multiline (net [), because of the SRL ... prompt
                net [ 49.0000.0000.0000.0{{ default 0 .isis_iid }} ]
                interface lo0.0 {
                }
            }
        }
    }
}

 /system lldp admin-state enable


{{ range .clab_links }}
/interface {{ .port }} {
    admin-state enable
    vlan-tagging true
    subinterface {{ default 10 .vlan }} {
        set vlan encap single-tagged vlan-id {{ default 10 .vlan }}
        set ipv4 address {{ .clab_link_ip }}
        set ipv6 address ::FFFF:{{ ip .clab_link_ip }}/127
    }
}

/network-instance default {
    interface {{ .port }}.{{ default 10 .vlan }} {
    }
    protocols {
        isis {
            instance default {
                interface {{ .port }}.{{ default 10 .vlan }} {
                    circuit-type point-to-point
                    level 2 {
                        metric {{ default 10 .metric }}
                    }
                }
            }
        }
    }
}

{{ end }}