{{ expect .clab_system_ip "ip" }}
{{ range .clab_links }}
    {{ expect .port "^(ethernet-\\d+/|e\\d+-)\\d+$" }}
{{ end }}
/interface lo0 {
    admin-state enable
    subinterface 0 {
        ipv4 {
            address {{ .clab_system_ip }} {
            }
        }
        ipv6 {
            address ::c1ab:{{ ip .clab_system_ip }}/128 {
            }
        }
    }
}
/network-instance default {
    router-id {{ ip .clab_system_ip }}
    interface lo0.0 {
    }
}
/system lldp admin-state enable
/ network-instance mgmt {
    description "set from clab"
}
{{ range .clab_links }}
/interface {{ .port }} {
    admin-state enable
}
{{ end }}