{
  "name": "{{ .Name }}",
  "type": "{{ .Type }}",
  "clab": {{ ToJSONPretty .Clab "  " "  "}},
  "ssh-pub-keys": {{ ToJSON .SSHPubKeys }},
  "nodes": { {{- $i:=0 }}{{range $n, $c := .NodeConfigs}}{{if $i}},{{end}}{{ $k := dict "tls-key" $c.TLSKey }}
    "{{$n}}":{{ $cj := $c | data.ToJSON | data.JSON }} {{ $dst := coll.Merge $cj $k }}{{ ToJSONPretty $dst "    " "  " }}{{$i = add $i 1}}{{end}}
  },
  "links": [{{range $i, $l := .Clab.Links}}{{if $i}},{{end}}
    {{- $eps :=  $l.GetEndpoints }}
    {{- $ep :=  index $eps 0 }}
    {
      "a": {
        "node": "{{ $ep.GetNode.GetShortName }}",
        "interface": "{{ $ep.GetIfaceName }}",
        "mac": "{{ $ep.GetMac }}",
        "peer": "{{if eq (len $eps) 2}}z{{else}}dummy{{end}}"
      }
      {{- if eq (len $eps) 2 }}
      {{- $ep :=  index $eps 1 }},
      "z": {
        "node": "{{  $ep.GetNode.GetShortName }}",
        "interface": "{{ $ep.GetIfaceName }}",
        "mac": "{{ $ep.GetMac }}",
        "peer": "a"
      }
      {{- end }}
    }{{end}}
  ]
}
