set / network-instance bridge
set / network-instance bridge type mac-vrf
set / network-instance bridge admin-state enable
set / network-instance bridge interface ethernet-1/1.0
set / network-instance bridge interface ethernet-1/2.0
set / network-instance bridge interface ethernet-1/3.0
set / network-instance bridge interface ethernet-1/4.0
set / network-instance bridge interface ethernet-1/10.0
set / network-instance bridge interface ethernet-1/11.0


set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 vlan-tagging false
set / interface ethernet-1/1 subinterface 0 type bridged

set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 vlan-tagging false
set / interface ethernet-1/2 subinterface 0 type bridged

set / interface ethernet-1/3 admin-state enable
set / interface ethernet-1/3 vlan-tagging false
set / interface ethernet-1/3 subinterface 0 type bridged

set / interface ethernet-1/4 admin-state enable
set / interface ethernet-1/4 vlan-tagging false
set / interface ethernet-1/4 subinterface 0 type bridged

set / interface ethernet-1/10 admin-state enable
set / interface ethernet-1/10 vlan-tagging false
set / interface ethernet-1/10 subinterface 0 type bridged

set / interface ethernet-1/11 admin-state enable
set / interface ethernet-1/11 vlan-tagging false
set / interface ethernet-1/11 subinterface 0 type bridged