name: vxlan-test

"on":
  workflow_call:
    inputs:
      py_ver:
        required: true
        type: string
      runtime:
        type: string
        default: "docker"

jobs:
  vxlan-tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        test-suite:
          - "01*.robot"
          - "02*.robot"
          - "03*.robot"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v7
        with:
          name: containerlab

      - name: Move containerlab to usr/bin
        run: sudo mv ./containerlab /usr/bin/containerlab && sudo chown root:root /usr/bin/containerlab && sudo chmod 4755 /usr/bin/containerlab

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.5.28"
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          # cache: pip
          # cache-dependency-path: "tests/requirements.txt"
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --all-extras --dev

      # - name: setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Activate virtualenv
        run: |
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Temporary workaround for ubuntu-24.04 runner image regression:
      # https://github.com/actions/runner-images/issues/13669
      - name: Install iproute2 workaround
        run: |
          set -euxo pipefail
          UPSTREAM_VER="6.18.0"
          PKG_VER="6.18.0-1ubuntu1"
          BASE_URL="https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/iproute2/${PKG_VER}"

          wget "${BASE_URL}/iproute2_${UPSTREAM_VER}.orig.tar.xz"
          wget "${BASE_URL}/iproute2_${PKG_VER}.debian.tar.xz"
          wget "${BASE_URL}/iproute2_${PKG_VER}.dsc"

          sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends dh-package-notes libnsl-dev
          sudo apt-get build-dep -y iproute2

          dpkg-source -x "iproute2_${PKG_VER}.dsc"
          cd "iproute2-${UPSTREAM_VER}"
          dpkg-buildpackage -us -uc -b
          sudo apt-get install -y --no-install-recommends "./../iproute2_${PKG_VER}_amd64.deb"

          ip -Version

      - name: Run tests
        run: |
          bash ./tests/rf-run.sh ${{ inputs.runtime }} ./tests/08-vxlan/${{ matrix.test-suite }}

      - name: Sanitize test-suite name
        run: echo "TEST_SUITE=$(echo ${{ matrix.test-suite }} | tr -d '*')" >> $GITHUB_ENV

      # upload test reports as a zip file
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: 08-vxlan-log-${{ env.TEST_SUITE }}-${{ inputs.runtime }}
          path: ./tests/out/*.html

      # upload coverage report from unit tests, as they are then
      # merged with e2e tests coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: coverage-vxlan-tests-${{ env.TEST_SUITE }}-${{ inputs.runtime }}
          path: /tmp/clab-tests/coverage/*
          retention-days: 7
