{{ expect .port "^ethernet-\\d+/\\d+$" }}
{{ expect .name "string" }}
{{ expect .ip "ip" }}
{{ optional .vlan "0-4095" }}

#enter candidate
set / interface {{ .port }} ethernet-1/1
set / interface {{ .port }} admin-state enable
set / interface {{ .port }} subinterface 0
set / interface {{ .port }} subinterface 0 ipv4
set / interface {{ .port }} subinterface 0 ipv4 address {{ .ip }}
set / network-instance default
set / network-instance default interface {{ .port }}.{{ default 0 .vlan }}
#commit now