{{ expect .systemip "ip" }}
{{ optional .isis_iid "0-31" }}

/interface lo0 {
    admin-state enable
    subinterface 0 {
        ipv4 {
            address {{ .systemip }} {
            }
        }
        ipv6 {
            address ::ffff:{{ ip .systemip }}/128 {
            }
        }
    }
}

/network-instance default {
    router-id {{ ip .systemip }}
    interface lo0.0 {
    }
    protocols {
        isis {
            instance default {
                admin-state enable
                level-capability L2
                set level 2 metric-style wide
                # net should not be multiline (net [), becasue of the SRL ... prompt
                net [ 49.0000.0000.0000.0{{ default 0 .isis_iid }} ]
                interface lo0.0 {
                }
            }
        }
    }
}

 /system lldp admin-state enable
